<h1 class="ui center aligned large icon header">
	Welcome to MessageMe -<span class = "italic">a complete Chat app</span>
</h1>

<div class = "ui center aligned large icon header">
	<i class="circular coffee orange icon"></i>
	<h2>Log in to continue:</h2>
</div>


<div class = "ui placeholder segment">
	<div class = "ui two column very relaxed stackable grid">
		<div class="column">
			<%= render 'form' %>
		</div>
		<div class="middle aligned column">
			<div class="ui orange big button">
				<i class="signup icon"></i>
				Sign Up
			</div>
		</div>
	</div>
	<div class="ui vertical divider">
		Or
	</div>
</div>
