<h1>This is the Home Page</h1>

<div class="ui two column stackable center aligned page grid">
   <div class="column sixteen wide">
		<%= image_tag ("logo"), :size => "120x120" %>
	</div>
	<div class="column sixteen wide">
		<h3>Say Something</h3>
	</div>
</div>	

<!-- Someone mentioned card. I image CARDS could work. I think I might try that for the next bit. -->
<!-- No point in doing this class if I'm going to be wait around like a child and force fed stuff -->


<div class = "ui one column stackable center aligned page grid uiheight">
	<div class = "column ten wide card-container">
		<div class="ui fluid card">
		  <div class="content">
		    <div class="header">Project Timeline</div>
		  </div>
		  <div class="content">
		    <h4 class="ui sub header">Activity</h4>
		    <div class="ui small feed">
		      <div class="event">
		        <div class="content">
		          <div class="summary">
		             <a>Elliot Fu</a> added <a>Jenny Hess</a> to the project
		          </div>
		        </div>
		      </div>
		      <div class="event">
		        <div class="content">
		          <div class="summary">
		             <a>Stevie Feliciano</a> was added as an <a>Administrator</a>
		          </div>
		        </div>
		      </div>
		      <div class="event">
		        <div class="content">
		          <div class="summary">
		             <a>Helen Troy</a> added two pictures
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
		  <div class="extra content">
		    <div class="ui fluid input">
			  <input type="text" placeholder="Message...">
			</div>
		  </div>
		</div>
	</div>
	<div class = "column six wide card-container">
		<div class="ui fluid center card">
			<div class="ui inverted vertical menu">
			  <a class="active item">
			    Home
			  </a>
			  <a class="item">
			    Messages
			  </a>
			  <a class="item">
			    Friends
			  </a>
			</div>
		</div>		
	</div>
</div>