<div class="ui inverted menu">
	<div class ="ui container">
	    <%= link_to "Chatroom", root_path, class: "item" %>
	  <a class="item">
	    Messages
	  </a>
	  <div class="right menu">
	  	<a class = "ui item">
		  <div class="ui dropdown">
			  <div class="text">Account</div>
			  <i class="dropdown icon"></i>
			  <div class="menu">
			    <a class="item"><%= link_to "Login", login_path %></a>
			    <div class="item">Sign Up</div>
			  </div>
			</div>
		</a>
	    <a class="ui item">
	 		<%= link_to "Login", login_path, class: "ui primary button" %>
	    </a>
	  </div>
	</div>
</div>